rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /allowedRollNumbers/{rollId} {
      allow read, write: if false;
    }
    match /rollClaims/{rollId} {
      allow read, write: if false;
    }
    match /authorizedUsers/{uid} {
      allow read, write: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
